# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment files
.env
*.env

# Logs
.todo.txt
todo.txt
run.txt

# Virtual environment
venv/
.venv/

# Local source data (not for git)
non-transformed-data/